/* Decent Defaults */
.div footer {
  margin-top: 15rem;
}

.grid {
  display: grid;
  gap: 1rem;
  padding: 3rem;
  padding-bottom: 15rem;
}

.grid article {
  min-height: 20rem;
}

.grid section {
  background: black;
  text-align: none;
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  font-family: sans-serif;
  padding: 20px;
}

video {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: black;
}

.h1 {
  color: #fbb03b;
  font-style: italic;
  font-family: sans-serif;
}

.header2 {
  position: absolute;
  top: 190px;
  left: 16px;
  color: #ededed;
  font-family: sans-serif;
  line-height: 30px;
}

nav.navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 1rem;
  position: relative;
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.15);
  min-height: 2.25rem;
  border-color: #fbb03b;
  border-bottom: 300px;
  background-color: black;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  display: flex;
  color: #fbb03b;
}

/* Mobile Only */
@media (max-width: 39.9375em) {
  .navbar ul {
    display: none;
    background: black;
    padding: 1rem;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
  }
  div.coal {
    padding-top: 290px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
  }
}

.navbar ul.active {
  display: flex;
  gap: 2rem;
  padding-bottom: 4rem;
}

header {
  background-image: url("https://i.ibb.co/hypk6z2/earth.jpg");
  background-size: auto;
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

p {
  margin: 8px;
}

h1 {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 40px;
}

h2 {
  color: #fbb03b;
  font-family: sans-serif;
  font-size: 18px;
  margin: 1rem;
}

.column {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

.column {
  position: relative;
  float: right;
  width: 25%;
  padding: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 20px;
}

h2 {
  color: #fbb03b;
  font-family: sans-serif;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

header {
  background-image: url("https://i.ibb.co/hypk6z2/earth.jpg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
  display: flex;
  flex-direction: column;
}

h1 {
  margin-top: 0;
  font-family: sans-serif;
  line-height: 40px;
}

p {
  color: #ededed;
  line-height: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* Desktop Only */
@media (min-width: 40em) {
  .navbar button {
    display: none;
  }
  .navbar ul {
    display: flex;
    gap: 1rem;
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .Energy {
    padding-bottom: 300px;
  }
  header {
    background-repeat: no-repeat;
  }
}

.coal {
  max-width: 100ch;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 50px;
}

img {
  margin: 0;
  padding: 10px;
}

figcaption {
  font-size: 8pt;
}

address {
  font-size: 10pt;
  padding-top: 5px;
}

main {
  color: #ededed;
  font-family: sans-serif;
  margin-bottom: 5rem;
}

.navbar a {
  color: #fbb03b;
  text-transform: uppercase;
  font-family: sans-serif;
  text-decoration: none;
  border-color: #fbb03b;
  border-style: solid;
  border-radius: 100px;
  border-width: 0.5px;
  padding: 10px;
}

hr {
  padding: 5px;
  border: none;
  background-color: #fbb03b;
  padding-bottom: 0.01px;
}

.footer {
  gap: 15rem;
  display: flex;
  justify-content: center;
}

.logo {
  max-width: 20rem;
  display: block;
  justify-self: center;
}

.feather-search {
  justify-self: flex-end;
  color: #fbb03b;
}
